*.exe
RSandor-DoublyLinkedListImplementation/RSandor-DoublyLinkedListImplementationTests/bin/*
RSandor-DoublyLinkedListImplementation/RSandor-DoublyLinkedListImplementationTests/obj/*
RSandor-DoublyLinkedListImplementation/RSandor-DoublyLinkedListImplementation/obj/*
RSandor-DoublyLinkedListImplementation/RSandor-DoublyLinkedListImplementation/bin/*
RSandor-BinarySearchTreeImplementation/BinarySearchTreeTests/obj/*
RSandor-BinarySearchTreeImplementation/BinarySearchTreeTests/bin/*
RSandor-BinarySearchTreeImplementation/RSandor-BinarySearchTreeImplementationTests1/obj/*
RSandor-BinarySearchTreeImplementation/RSandor-BinarySearchTreeImplementationTests1/bin/*
*.xml
